* {
    background-color: rgb(248, 234, 217);
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    font-size: 18px;
}

nav {
    flex: auto;
    margin: 50px 2em;
}

article {
    flex: 3 1 auto;
    margin: 10px 10em;
}

.section {
    margin-bottom: 10px;
    padding: 40px;
}

h1 {
    text-align: center;
    color:rgb(252, 252, 252);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 100px;
    opacity: 75%;
    border: 5px solid white;
    border-radius: 20px;
}

a {
    color: darkorange;
    font-weight: 100;
    font-family: Helvetica, sans-serif;
}

#des,#ing,#ste,#note {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    text-align: center;
    color: darkgoldenrod;
    font-size: 2em;
}

.section img {
    margin: 30px auto;
    width: 50%;
}

nav li {
    margin: 10px;
}